<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Cadastar Usuario</title>
    <style>
        body {
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Cadastar Usuario</h1>
        <form action="/registrar" method="POST">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input id="nome" name="nome" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.nome %><%}%>">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input id="email" name="email" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%>">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Palavra-Passe</label>
                <input id="password" name="password" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.password %><%}%>">
            </div>

            <div class="mb-3">
                <label for="funcao" class="form-label">Função</label>
                <input id="funcao" name="funcao" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.funcao %><%}%>">
            </div>
            <div class="mb-3">
                <label for="perfil" class="form-label">Perfil</label>
                <input id="perfil" name="perfil" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.perfil %><%}%>">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <!-- Toasts -->
        <!-- TOASTS -->
        <% if(typeof validacoes != 'undefined') { %>
            <% validacoes.forEach( (validacion)=> { %>
                <div class="toast-container">
                    <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
                        <div class="toast-header">
                            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
                            <strong class="me-auto">Aviso!</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <strong><%= validacion.msg %></strong>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <% } %>

    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl)
            });
            toastList.forEach(toast => toast.show());
        });
    </script>
</body>

</html>